@page
@model LocalGameWeb.Pages.StartGameModel
@{
    ViewData["Title"] = "StartGame";
}

<h2>StartGame</h2>
<p>@Model.Message</p>
<p>@DateTime.Now</p>
<form>
    <asp:Label ></asp:Label>
    <asp:button type="button" name="StartGameBtn" id="StartGameBtn" onclick=@Model.StartGameBtn_OnClick()></asp:button>
</form>


